
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800&display=swap');
        body {
            background-color: rgb(58, 56, 56);
            padding: 0;
            margin: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: "Poppins", sans-serif;
            flex-direction: column;
            width: 100vh;
        }
        .container-box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 1rem;
        }
        .box {
            width: 8rem;
            height: 8rem;
            border: 2px solid white;
            cursor: pointer;
            background-color: rgb(77, 96, 77);
            transition: all 1s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
        }
        .boxSelect:hover {
            background-color: rgb(197, 3, 3);
            text-orientation: upright;
            writing-mode: vertical-lr;
        }
        .score {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .popUpMessage {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 15rem;
            height: 10rem;
            background-color: white;
            color: black;
            padding: 2rem;
            border-radius: 2rem;
            position: absolute;
            z-index: 9999;
            display: none;
        }
        .heading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .heading h3 {
            color: green;
        }
        button[type="submit"] {
            width: 4rem;
            height: 2rem;
            font: bold;
            font-size: 1rem;
            border-radius: 10px;
            background-color: rgba(55, 199, 55, 0.982);
            color: white;
        }
  