body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #555b60; /* Updated to a deep blue-gray */
}

.container {
    background-color: rgba(52, 56, 60, 0.9); /* Slightly darker background */
    padding: 30px; /* Increased padding for more space */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); /* Darker shadow for a deeper effect */
    text-align: center;
    color: #ECF0F1; /* Lighter text color */
    max-width: 400px; /* Restrict container width */
    width: 100%;
}

input {
    padding: 12px; /* Slightly larger padding */
    width: 90%; /* Wider input field */
    margin-bottom: 15px; /* Increased margin for spacing */
    border: 1px solid #BDC3C7; /* Lighter border color */
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle inner shadow */
    background-color: #34495E; /* Darker input background */
    color: #ECF0F1; /* Light input text color */
}

input::placeholder {
    color: #95A5A6; /* Lighter placeholder color */
}

button {
    padding: 12px 25px; /* Increased padding for a more prominent button */
    border: none;
    background-color: #3498DB; /* Vibrant blue */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Button shadow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #2980B9; /* Darker blue on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
}

#weatherInfo {
    margin-top: 25px; /* Increased top margin */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#weatherInfo h2 {
    margin: 15px 0; /* Increased margin */
    color: #E74C3C; /* A pop of color for headings */
}

#weatherInfo p {
    margin: 10px 0;
    color: #ECF0F1; /* Consistent text color */
}

#weatherIcon {
    width: 60px; /* Slightly larger icon */
    height: 60px;
    margin-bottom: 10px; /* Space below the icon */
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5)); /* Shadow for the icon */
}
