
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(27, 19, 19);
    color: white;
}
input {
    border: none;
    outline: none;
    width: 12rem;
    height: 1.9rem;
    font-size: 1.5rem;
    align-items: center;
    border-radius: 2rem;
    padding: 0.3rem;
}
.input-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
}
i {
    color: black;
    width: 2rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition */
}
.fa-eye-slash {
    transform: rotate(360deg); /* Optional: Add a rotation effect for a more dynamic transition */
}
